 <div class="col-md-8">
<form action="/posts/create" method="POST">
  <div class="form-group">
    <label for="title">Заголовок</label>
    <input type="text" name="post[title]" class="form-control">
  </div>
  <div class="form-group">
    <label for="exampleFormControlSelect1">Выберите тему</label>
    <select class="form-control" name="post[topic_id]">
      <% @topics.each do |topic| %>
        <option value="<%= topic.id %>"><%= topic.title %></option>
      <% end %>
    </select>
  </div>
  <div class="form-group">
    <label>Текст:</label>
    <textarea name="post[body]" class="form-control" rows="10"></textarea>
  </div>
   <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
   <button type="submit" class="btn btn-primary">Создать</button>
</form>
</div>